@model Users

<div class="d-flex justify-content-center align-content-center">
    <div style="width: 300px">
        <form method="post" asp-area="" asp-action="Edit" asp-controller="User">
            <input type="hidden" name="_method" value="PUT"/>
            
            @if (User.Identity.IsAuthenticated && User.IsInRole("A"))
            {
                <div class="row mb-3 mt-3">
                    <p class="form-label">Id:</p>
                    <input type="text" class="form-control" name="Id" value="@Model.Id" readonly>
                </div>
                
            }
            
            <div class="row mb-3">
                <p class="form-label">Imie:</p>
                <input type="text" class="form-control" name="Name" value="@Model.Name">
            </div>
            

            <div class="row mb-3">
                <p class="form-label">Naziwsko:</p>
                <input type="text" class="form-control" name="Surname" value="@Model.Surname">
            </div>
            
            
            @if (User.Identity.IsAuthenticated && User.IsInRole("A"))
            {
                <div class="row mb-3">
                    <p class="form-label">Rola:</p>
                    <select name="Role" class="form-select">
                        @foreach (var role in ViewBag.Roles)
                        {
                            <option value="@role" selected="@(role == Model.Role ? "selected" : null)">@role</option>
                        }
                    </select>
                </div>
            }

            <div class="row mb-3">
                <p class="form-label">Login:</p>
                <input type="text" class="form-control" name="Login" value="@Model.Login"> 
            </div>
            
 
            <div class="row mb-3">
                <p class="form-label">Hasło:</p>
                <input type="password" class="form-control" name="Password" value="@Model.Password">
            </div>
            

            <button type="submit" class="btn btn-primary w-100">Zapisz zmiany</button>
        </form>
    </div>
</div>